.bg-image{
    
        background-image:url("../../../images/bg-image.png");
        
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    
}